.navbar{
	/* height: 80px; */
	/* border: 1px solid black; */
	background-color: red;
	
	
}

.collapse{
	color: black !important;
	font-weight: bold;
	margin-left: 200px;
	
}
.lim{
	height: 45px;
	width: 45px;
	margin-top: -30px;
	
} 

.lg{
	color: white;
	display: inline-block;
	font-weight: bolder;
}

	
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.hover13{
	margin-top: 10px;
	
}

.sa{
	box-shadow: 10px 10px 10px rgb(233, 232, 232);
}



.carousel-item ,h2{
	color: black;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

a:focus{
	text-decoration: none;
}

a:active{
	text-decoration: none;
}
a:hover{
	text-decoration: none;

}









h3{
	display: flex;
	color: slategray;
}

.far,.fas{
	width: 10px;
	height: 10px;
}

.hover{

        color: black;
        text-align: center;
        justify-content: center;
        align-items: center;


}

.parent-box{
    /* background-color: #ddd; */
    display: flex;
}
.parent-box .box{
    height: 450px;
   background-color: black;
width: auto;
padding: 4px; 
 /* margin-left: 20px; */
 margin: auto;

}

.parent-box .box img{
	width: auto;
	height: 292px;
	margin: auto;
	

}

.owl-carousel .owl-nav button.owl-prev{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red !important
}
.owl-carousel .owl-nav button.owl-next{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:red !important

}


.aman{
	text-align: center;
	color: black;
	font-weight: bold;
	text-shadow: 2px 2px black;
	/* align-items: center; */
}


#cr{
	color: whitesmoke;
	/* margin: 2px !important; */
	text-align: center;
	
	
	

}

.fa-truck,.fa-portrait,.fa-arrow-circle-left{
	font-size: 40px !important;
}

.last{

	background-color: whitesmoke;
	height: 30px;
}


.fa-phone-alt ,.fa-envelope ,.fa-facebook, .fa-whatsapp{
	font-size: 30px; 
text-align: center;
align-items: center;
margin:30px ;


}

.final{
	background-color: red;
	/* background-color: rgb(162, 211, 243); */
	/* background-color: rgb(241, 238, 238); */
	/* height: 40%; */
}

.sai{
	/* padding: none; */
	color: rgb(49, 49, 49);
	font-size: 30px;
}

.sheikh  img{
	width: auto;
	height: 12%;
	border: 2px solid black;
}

.ars{
	border-collapse: separate;
  border-spacing: 15px;
  /* margin-left: 20%; */
  
  
}
.ars td{
	background-color: rgb(239, 241, 243);
	padding: 1.2%;
}
 .shk img{
	 width: 22%;
	 height: 25%;
	
 }


 .sm{
	color: black;
	font-weight: bold;
	
}

.same{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 100px;
}

.same-as{
	margin: 30px;
	height: 330px;
	width: 300px;
	align-items: center;
	text-align: center;
	box-shadow: 10px 10px 10px rgb(133, 117, 117);

}

.shell{
	/* background-color: slategray; */
	border: 1px solid black;
	margin: 10px;
}

#cm{
	/* color: whitesmoke; */
	color: black;
	align-items: center;
	text-align: center;

}
/* 
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 100px;                                                                                                                              
    padding-left: 100px;                    
    margin-right: auto;
    margin-left: auto;
} */